<%- include('partials/header'); -%>
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
                <div class="col-md-6 col-12 main_left">
                    <h1>I Am a <span class="textcol">Mern Stack Developer</span> and A <span class="textcol">Content Writer</span> .</h1>
                    <a href="www.google.com" target="_noni"><button>About me</button></a>
                </div>
                <div class="col-md-6 col-12 main_right">
                    <figure>
                        <img src="images/noni1.jpeg" class="img-fluid" title="vertika">
                    </figure>
                </div>
           
    </div>
</div>

</div>
<%- include('partials/footer'); -%>
    
